
.reveal .green {
	/*color: limegreen;*/
	color: #69c242;
}

.reveal .blue {
	/*color: lightskyblue;*/
	color: #64bbe3;
}

.reveal .yellow {
	color: #ffcc00;
}

.reveal .orange {
	color: #ff7300;
}

.reveal .red {
	/*color: crimson;*/
	color: #cf2030;
}

.reveal b, .reveal strong {
	/*color: lightskyblue;*/
	color: #64bbe3;
}

/* Two-columns */
.container{
    display: flex;
}
.col{
    flex: 1;
}


.theorem {
  display:inline-block;
  /*border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;*/
  padding:0.3em;
  border:solid 3px hsla(0, 0%, 75%, 1);
}


.reveal .references {
	position: fixed;
	bottom: 10px;
	width: 100%;
	margin: auto;
	text-align: center;
}


.reveal figure img {
	margin: 10px 0;
}

.title {
	color: white;
}

.title h4 {
	text-shadow: 0px 2px 3px #000;
	-webkit-text-stroke: 1px black;
}

.title .social {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.title .authors {
	font-size: 0.8em;
    text-shadow: 0px 2px 3px #000;
	line-height: 1em;
}

.title .authors a {
	color: white;
}

.title .footnote {
	font-size: 0.4em;
}

ul li {
	margin: .8em 0em;
	line-height: 1.2em;
}

ul.tight li, .definition li, li ul li {
	margin: 0.1em;
}

ol.agenda {
	list-style-type: upper-roman;
}

.note-container {
	position: relative;
}

.bottom-container {
	position: absolute;
	bottom: -1em;
	text-align: center;
	width: 100%;
}

aside.note {
	font-size: 12pt;
	text-align: left;
	background-color: #333;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	line-height: 1em;
	padding: 1em;
	margin-left: 2em;
	vertical-align: center;
	float: right;
	width: 150px;
}

hr {
	border: thin dotted #fff;
}

.bottom-container aside.note {
	width: auto;
	float: none;
	margin: auto;
	display: inline-block;
}


/* Allow spans to grow and shrink, see https://github.com/hakimel/reveal.js/pull/2338/files */
.reveal .slides section span.fragment.shrink.tiny.visible {
  font-size: 40%;
}
.reveal .slides section span.fragment.shrink.visible {
  font-size: 70%;
}
.reveal .slides section span.fragment.grow.visible {
  font-size: 130%;
}

.flip-vertically {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}